@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap');


   .font-lora {
        font-family: "Lora", serif;
   }
    .font-manrope {
        font-family: "Manrope", sans-serif;
    }

 .text-h54{
    font-size: 54px;
 }
 .text-h46{
    font-size: 46px;
 }
 .text-h38{
    font-size: 38px;
 }
 .text-h32{
    font-size: 32px;
 }
 .text-h28{
    font-size: 28px;
 }
 .text-h26{
    font-size: 26px;
 }
 .text-h20{
    font-size: 20px;
 }
 

.custom-column {
    width: 48% !IMPORTANT;
}

.border-l-2{
    border-left: 2px solid #06080626;
 
}
.rounded-18{
    border-radius: 18px;
}
.line-height-loose {
    line-height: 70px !important;
}

.btn-shadow {
    box-shadow: 
        0px 1px 2px 0px #0608060D,
        0px -2px 1px 0px #00000033 inset,
        0px 0px 0px 1px #06080626 inset,
        0px 2px 1px 0px #FFFFFF40 inset,
        0px 32px 24px 0px #FFFFFF0D inset;
}

.btn-offset-shadow {
    box-shadow: 
    0px 1px 2px 0px #0608060D,
    0px -2px 1px 0px #0608060D inset,
    0px 0px 0px 1px #0608060D inset;

}

.hero-gallery img:first-child{
    margin-top: 12px;
}
.hero-gallery img:nth-child(3),
.hero-gallery img:nth-child(6){
    margin-bottom: 0px;
}


.feature-bar-box {
    box-shadow: 
        0px 1px 2px 0px #0000000F,
        0px 1px 3px 0px #0000001A;
}

 .custom-neg-mt {
     margin-top: 60px !important;
    }


.mobile-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* adjust spacing between logos */
}

.mobile-logos .mobile-logo-item {
    flex: 0 0 24%; /* 2 logos per row on mobile */
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; /* space between rows */
}
 

 
   .faq-button-shadow {
        background: #0608060D;
        box-shadow: 0px 1px 2px 0px #0608060D,
        0px -2px 1px 0px #0608060D inset,
        0px 0px 0px 1px #0608060D inset;


    }

   .light-gray-btn {
        
        border: 1px solid   #FFFFFF00;    
        box-shadow: 0px 32px 24px 0px #FFFFFF00 inset; 
        background:  #0608060D;

    }

    .paginate-disabled {
        opacity: 0.4;
        pointer-events: none;
    }

 .after-beforeblock{
    position: relative;
 
 }
.after-beforeblock:after {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 33px;
    right: -15px;
    top: 37%;
    vertical-align: middle;
    width: 32px;
    position: absolute;
}
.button-icon{
    transition: all 0.3s ease;
}
.button-icon i{
    margin-left: 12px;
    font-size: 14px;
    color: #000;
}

.button-icon:hover i{
    color: #fff;
}

.scroll-hidden {
  opacity: 1;
 
}

.animate-fadeUp {
  opacity: 1; 
  transition: all 0.6s ease-out;
}

.bg-timeline-gradient {
    background: linear-gradient(270deg, #FFFFFF 0%, #9ABA9D 15%, #9ABA9D 85%, #FFFFFF 100%);

}

.bg-timeline-gradient-mobile {
   background: linear-gradient(180deg, #FFFFFF 0%, #9ABA9D 15%, #9ABA9D 85%, #FFFFFF 100%); 

}
.text-right{
    text-align: right;
}

.grid-custom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

/* Center the last item if it's alone in the last row */
.grid-custom > :nth-last-child(1):nth-child(3n+1) {
    grid-column: 2 / 3; /* Center horizontally in 3-column layout */
}

/* Optional: style individual items */
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}


.timelime-more a{
    color: #587D5C;
    font-size: 16px;
}
.border-top-color { 
    border-top: 1px solid #f0f0f0;
}
.border-bottom-color { 
    border-bottom: 1px solid #f0f0f0;
}

.border-radious-20{
    border-radius: 13px 13px 0 0;
}

.gap-20{
    gap: 120px;
}

.pl-5{
    margin-left: 10px;
}
.bg-active{
    background-color: #587D5C;
}
@media (min-width: 768px) {
    .md-hidden-custom { 
        display: none !important;
    }

    .custom-neg-mt {
     margin-top: -124px !important;
    }

    .feature-bar-box {
        box-shadow: 0px 1px 2px 0px #0000000F; /* bottom shadow only */
    }
 .mobile-logos {
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  .mobile-logos .mobile-logo-item {
    flex: 0 auto; /* natural width on larger screens */
    margin-bottom: 0;
  }
}